<div class="container">

  <div class="page-header">
    <h1>{{vm.user.name}} Спасибо за прохождение теста!</h1>
  </div>

  <button type="button" class="btn btn-primary" ng-click="vm.restartTest()">Начать заново</button>


</div>
