<div class="container login">

	<div class="panel panel-default">
		<div class="panel-heading">Вопрос {{vm.testNumber + 1}} из {{vm.tests.length}}</div>
		<div class="panel-body">
			<timer countdown="time" interval="1000" >{{minutes}} минуты, {{seconds}} секунд</timer>
		</div>
	</div>

	<h2>{{vm.currentTest.title}}</h2>
	<div ng-if="vm.currentTest.type === 'variant'">
	    <form>
	    	<div class="answer-style-container">
	    		<label class="answer-style" ng-repeat="item in vm.currentTest.variants">
	    			<div class="input-cont">
	    				<input type="radio" name="optradio" ng-click="vm.setAnsver(item)">
	    				<span></span>
	    			</div>
	    			<div>
	    				<div class="html-content"><p>{{item}}</p></div>
	    			</div>
	    		</label>
	    	</div>
	    </form>
	    <button type="button" class="btn btn-primary" ng-click="vm.nextQuestion()"  ng-disabled="vm.checked">Ответить</button>
	</div>

	<div ng-if="vm.currentTest.type === 'open'">
	    <form>
	    	<textarea placeholder="Ваш ответ" ng-model="vm.answerField" ng-change="vm.setAnsver(vm.answerField)"></textarea>
	    </form>
	    <button type="button" class="btn btn-primary" ng-click="vm.nextQuestion()"  ng-disabled="!vm.answerField.length">Ответить</button>
	</div>
</div>
