
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-login">
    <div class="form-login">
        <h4>Добро пожаловать</h4>
        <input type="text" class="form-control input-sm chat-input"  ng-model="vm.name" placeholder="ФИО" />
        </br>
        <input type="text" class="form-control input-sm chat-input"  ng-model="vm.vk" placeholder="Адрес страницы в соц. сети ВКонтакте" />
        </br>
        <input type="email" class="form-control input-sm chat-input"  ng-model="vm.email" placeholder="Эл. почта" />
        </br>
        <input type="tel"
               class="form-control input-sm chat-input"
               ng-model="vm.tel"
               placeholder="Номер телефона"
        />
        </br>
        <select class="form-control input-sm chat-input" ng-model="vm.course">
          <option value="ИОН" selected>ИОН</option>
          <option value="ИОМ">ИОМ</option>
          <option value="ИПНБ">ИПНБ</option>
          <option value="ИГСУ">ИГСУ</option>
          <option value="ИБДА">ИБДА</option>
          <option value="ЭФ">ЭФ</option>
          <option value="ИММ">ИММ</option>
          <option value="ФЭСН">ФЭСН</option>
          <option value="ВШКУ">ВШКУ</option>
          <option value="ВШФМ">ВШФМ</option>
          <option value="ФФБД">ФФБД</option>
        </select>
        </br>
        <input type="password" class="form-control input-sm chat-input"  ng-model="vm.password" placeholder="Пароль" />
        </br>
        <div class="wrapper">
        <span class="group-btn">
            <button class="btn btn-primary btn-md"" ng-click="vm.startTest()">Начать <i class="fa fa-sign-in"></i></button>
        </span>
        </div>
    </div>
</div>
